<div id="navbar">
    <div class="menu">Menu</div>
    <nav>
        <a href="{% url 'hod_home' %}">
            <li>
                <i class="fa fa-home"></i> Home
            </li>
        </a>
        <a href="{% url 'add_student'%}">
            <li>
                <i class="fa fa-user"></i> Add Student
            </li>
        </a>
        <a href="{% url 'manage_student'%}">
            <li>
                <i class="fa fa-user"></i> Manage Student
            </li>
        </a>
        <a href="{% url 'add_staff_save' %}">
            <li>
                <i class="fa-solid fa-user-group"></i>
                Add Faculty
            </li>
        </a>
        <a href="{% url 'manage_staff' %}">
            <li>
                <i class="fa-solid fa-person-chalkboard"></i>
                Manage Faculty
            </li>
        </a>
        <a href="{% url 'add_session' %}">
            <li>
                <i class="fa-solid fa-calendar-days"></i>
                Add Session
            </li>
        </a>
        <a href="{% url 'manage_session' %}">
            <li>
                <i class="fa-solid fa-calendar-days"></i>
                Manage Session
            </li>
        </a>
        <a href="{% url 'add_subject'%}">
            <li>
                <i class="fa-solid fa-book-medical"></i>
                Add Subject
            </li>
        </a>
        <a href="{% url 'manage_subject'%}">
            <li>
                <i class="fa-solid fa-book-bookmark"></i>
                Manage Subject
            </li>
        </a>
        <a href="{% url 'add_course' %}">
            <li>
                <i class="fa-solid fa-book-bookmark"></i>
                Add Course
            </li>
        </a>
        <a href="{% url 'manage_course' %}">
            <li>
                <i class="fa-solid fa-book-bookmark"></i>
                Manage Course
            </li>
        </a>

    </nav>
</div>