<div id="navbar">
    <div class="menu">Menu</div>
    <nav>
        <a href="{% url 'staff_home' %}">
            <li>
                <i class="fa fa-home"></i> Home
            </li>
        </a>
        <a href="#">
            <li>
                <i class="fa fa-user"></i>
                Profile
            </li>
        </a>
        <a href="#">
            <li>
                <i class="fa-solid fa-user-plus"></i>
                Attendance
            </li>
        </a>
        <a href="#">
            <li>
                <i class="fa-solid fa-book"></i>
                Notes
            </li>
        </a>
        <a href="#">
            <li>
                <i class="fa-solid fa-video"></i>
                Videos
            </li>
        </a>
    </nav>
</div>