{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faculty Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script type="text/javascript" src="{% static 'script.js' %}"></script>
        
        

<body>
    <header>
        <div>
            <a href="/">
                <div class="logo">
                    <i class="fa-solid fa-chalkboard-user"></i>
                    FacultyAccount
                </div>
            </a>
        </div>

        {% include '../headerUser.html' %}

    </header>

    <div id="main">
        {% include './navigation.html' %}

        <div id="student_record">

            <div class="page-title">
                <div class="row" id="attendance_list">
                    <h2>Notes List</h2>

                    
                </div>

                <div class=" row" id="attendance_action">
                    <div onclick="openAddDialog()">Upload New Notes</div>
                </div>

                

                <dialog class="form" id="add_dialog">
                    <div class="close" onclick="closeAddDialog()">&times;</div>
                    <!-- <div className="form"> -->
                    <form method="post"enctype="multipart/form-data" action="{% url 'upload_notes' %}">
                        {% comment %}  {% endcomment %}
                        {% csrf_token %}
                         {% comment %} {{ form.as_p }} {% endcomment %}
                         {% comment %} <p>Form action: {% url 'upload_notes' %}</p> {% endcomment %}
                       
                        <div class="row">
                            <h3>Upload Notes</h3>
                        </div>
                                
                    
                    <div class="form-field">
                        <label for="subject_id">Subject</label>
                        <select name="subject_id" id="subject_id">
                            {% for subject in subjects %}
                            
                            <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-field">
                        <label for="course_id">Course</label>
                        <select name="course_id" id="course_id" required>
                            {% for course in courses %}
                            <option value="{{ course.id }}">{{ course.course_name }}</option>
                            {% endfor %}
    
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="session_year_id">Session</label>
                        <select name="session_year_id" id="session_year_id">
                            {% for session in sessions %}
                            <option value="{{ session.id }}">{{ session.session_start_year}}-{{ session.session_end_year}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-field">
                        <label for="document">Document</label>
                        <input type="file" name="document" id="document" required />
                    </div>

                    <div class="form-field">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" placeholder="Enter description" required></textarea>
                    </div>

                    <div class="form-field">
                        <button type="submit">Upload</button>
                                    </div>
                                </form>
                                <!-- </div> -->
                </dialog>
                {% for note in uploaded_notes %}
                <dialog class="form" id="edit_dialog_{{ note.id }}">
                    <div class="close" onclick="closeEditDialog()">&times;</div>
                    {{ note.id }}
                    {% if note.id %}

                    <!-- <div className="form"> -->
                    <form method="post"enctype="multipart/form-data" action="{% url 'edit_notes' note.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="subject_id" value="{{ note.subject_id.id }}">
    
                        <div class="row">
                            <h3>Edit Notes</h3>
                        </div>
                        
                        <div class="form-field">
                            <label for="course_id">Course</label>
                            <select name="course_id" id="course_id" required>
                                {% for course in courses %}
                                    <option value="{{ course.id }}">{{ course.course_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <div class="form-field">
                            <label for="session_year_id">Session</label>
                            <select name="session_year_id" id="session_year_id" required>
                                {% for session in sessions %}
                                    <option value="{{ session.id }}">{{ session.session_start_year}}-{{ session.session_end_year}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <div class="form-field">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" placeholder="Enter description" required></textarea>
                        </div>
                    
                        <div class="form-field">
                            <label for="document">Files</label>
                            <input type="file" name="document" id="document" required />
                        </div>
                    
                        <div class="form-field">
                            <button type="submit">Upload</button>
                        </div>
                    </form>
                    {% endif %}
                    <!-- </div> -->
                </dialog>
                {% endfor %}
            </div>

            <div id="faculty-record" class="record">
                <table>
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Notes Title</th>
                            <th>Upload Date & Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for note in uploaded_notes %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ note.subject_id.subject_name }} </td>
                            <td>{{ note.upload_date }}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ note.document.url }}" class="download btn" download>Download</a>
                                    <button class="edit btn" onclick="openEditDialog('{{ note.id }}')">
                                        {% comment %} <a href="{% url 'edit_notes' note.id %}"> {% endcomment %}
                                        Edit
                                        {% comment %} </a> {% endcomment %}
                                    </button>
                                    <a href="{% url 'delete_notes' note.id %}" class="delete btn">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    // Define a global variable to store the note ID
   

    // Define the openEditDialog function without parameters
    function openEditDialog(noteId) {
        var editDialog = document.querySelector('#edit_dialog_' + noteId);
        editDialog?.showModal();
    }
    function closeEditDialog() {
        var editDialog = document.querySelector('.form[open]');
        editDialog?.close();
    }
</script>
