<div id="navbar">
    <div class="menu">Menu</div>
    <nav>
        <a href="{% url 'student_home' %}">
            <li>
                <i class="fa fa-home"></i> Home
            </li>
        </a>
        <a href="{% url 'student_profile' %}">
            <li>
                <i class="fa fa-user"></i>
                Profile
            </li>
        </a>
        <a href="{% url 'student_view_attendance' %}">
            <li>
                <i class="fa-solid fa-user-plus"></i>
                Attendance
            </li>
        </a>
        <a href="{% url 'student_notes'%}">
            <li>
                <i class="fa-solid fa-book"></i>
                Notes
            </li>
        </a>
        {% comment %} <a href="{% url 'live_stream' %}">
            <li>
                <i class="fa-solid fa-video"></i>
                Live Stream
            </li>
        </a> {% endcomment %}
    </nav>
</div>